@(message: String)

@main("Metas Semanais") {
    <head>
        <title>Metas Semanais</title>
        <meta charset="UTF-8">

        <link href="@routes.Assets.at("stylesheets/bootstrap.css")" rel="stylesheet" media="screen">
    </head>

    <div class="container">
        <div class="panel panel-primary">
            <div class="panel-heading">
                <h1>Metas Semanais</h1>
            </div>
        </div>

        <button type="button" class="btn btn-success">Adicionar meta</button>

        <br/>
        <br/>

        <div class="panel-primary">
            <div class="panel-heading">
                <h2>Semana 1</h3>
            </div>
            <div class="panel-body">
                <div class="panel-success">
                    <div class="panel-heading">
                        <h3>-Metas Alcançadas</h3>
                    </div>
                    <div class="panel-body">
                        <ul>
                            <li> Meta 1</li>
                            <li>Meta 2</li>
                        </ul>
                    </div>
                </div>

                <div class="panel-info">
                    <div class="panel-heading">
                        <h3>-Metas à Alcançar</h3>
                    </div>
                </div>
                <div class="panel-body">
                    <ol>
                        <li> Meta 1</li>
                        <li>Meta 2</li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
}
